<!-- /views/two_twenty.erb -->

<h1>1d20</h1>

  <% if @dice_20 == 1 %>
    <p style="color: red"><%= @outcome %></p>
  <% elsif @dice_20 == 20 %>
    <p style="color: green"><%= @outcome %></p>
  <% else %>
    <p><%= @outcome %></p>
<% end %>

